.yrittaja{
  position: absolute;          /* where the next element will be automatically positioned */
  display: inline-block;       /* causes element width to shrink to fit content */
  left: 50%;          
  top: 45%;     
  transform: translate(-50%, -50%); 
}

#valuutta{
  color: green;
  font-size: 100px;
  position: absolute;
  transform: translate(78vw, -5vh);
}

#nimi{
  color: black;
  font-size: 50px;
  position: absolute;
  transform: translate(77vw, -5vh);
}

.yrittajaTeksti {
  font-size: 50px;
  position: absolute;          /* where the next element will be automatically positioned */
  display: inline-block;       /* causes element width to shrink to fit content */
  left: 50%;          
  top: 23%;     
  transform: translate(-50%, -50%); 
}

.nappibox{
  position: absolute;
  left: 54%;          
  top: 70%;     
  transform: translate(-10vw, -10vh); 
} 

#eventname {
  font-size: 50px;
  transform: translateX(-20%);
}

.valintanappi {
  display: inline-block;
  margin-right: 15px;
  /* transform: translate(90%, 0);  */
}

.notification {
  position: absolute;
  transform: translate(50vw, 200px);
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  z-index: 99 !important;
}

.voittoteksti{
  font-size: 200px;
  transform: translateX(50vh);
}